@use "../../mixins" as *;
@use "../../presets" as *;

.header {
    display: flex;
    flex-direction: column;

    @include max-xxl {
        min-height: 100vh;
    }
    @include min-xxl {
        max-height: 100vh;
    }
}