@use "../../mixins" as *;
@use "../../presets" as *;

.header-content {
    margin-top: auto;
    margin-bottom: auto;
    display: grid;

    @include min-xl {
        grid-template-areas:
            "tl pict"
            "des pict"
            "act pict"
            "nts pict";
        grid-template-columns: 550px 1fr;
    }

    @include max-xl {
        grid-template-areas:
            "tl"
            "des"
            "act"
            "pict"
            "nts";
        grid-template-columns: 1fr;
    }

    &__title {
        grid-area: tl;
        margin: 0 0 8px 0;
        font-weight: 600;
        font-size: 65px;
        line-height: 70px;
        color: $primary-color;
        padding-top: $gap;
        padding-bottom: $gap;

        @include max-xl {
            text-align: center;
        }
    }

    &__description {
        grid-area: des;
        font-size: 25px;
        line-height: 35px;
        color: $primary-color;
        padding-top: $gap;
        padding-bottom: $gap * 2;
        margin-bottom: 8px;

        @include min-xl {
            max-width: 470px;
        }

        @include max-xl {
            max-width: none;
        }
    }

    &__action {
        grid-area: act;
        display: flex;
        gap: $gap-sm;

        @include max-xl {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__notes {
        grid-area: nts;
        font-size: 15px;
        line-height: 25px;
        color: $primary-color;
        margin-top: 5px;
        padding-top: $gap;
        padding-bottom: $gap;
    }

    &__picture {
        grid-area: pict;

        @include max-xl {
            text-align: center;
            padding: $gap $gap-sm;
        }
    }

    &__image {
        max-width: 759px;
        height: auto;
        width: 100%;
    }
}