$primary-color: black;
$secondary-color: #ff6336;
$color-main: #ff9c7d;
$color-main-dull: #dabc98;
$color-fitback:#c9e8f2;

$color-flue :#fff8e4;
$color-light: #ffffff;



$ul: 1370px;

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$gap: 20px;
$gap-sm: 20px * 0.5;