@use "../../mixins" as *;
@use "../../presets" as *;

.quality {
    padding-top: 90px;
    padding-bottom: 150px;
    display: grid;

    @include min-md {
        grid-template-areas:
            "bl1 img-1"
            "img-2 bl2"
            "bl3 img-3"
            "img-4 bl4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 250px;
        column-gap: $gap;
    }

    @include max-md {
        grid-template-columns: 1fr;
        row-gap: $gap;
        grid-template-areas:
            "bl1"
            "img-1"
            "bl2"
            "img-2"
            "bl3"
            "img-3"
            " bl4"
            "img-4";
    }
}

.blurb {
    display: flex;
    flex-direction: column;
    gap: $gap + 10px;
    justify-content: center;

    @include min-md {
        max-width: 520px;
    }

    &-1 {
        grid-area: bl1;
    }

    &-2 {
        grid-area: bl2;

        @include min-xl {
            margin-left: 110px;
        }
    }

    &-3 {
        grid-area: bl3;
    }

    &-4 {
        grid-area: bl4;

        @include min-xl {
            margin-left: 110px;
        }
    }
}

.blurb {
    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        color: $primary-color;

        @include max-md {
            text-align: center;
        }
    }

    &__descriptio {
        font-size: 20px;
        line-height: 30px;
        color: $primary-color;
        @include link-underline;
    }

    &__start {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: $primary-color;
    }
}

.blurb__image {
    width: 100%;
    height: 100%;
    max-width: 632px;
    max-height: 632px;
    display: flex;
    margin: auto;

    &__image-1 {
        grid-area: img-1;
    }

    &__image-2 {
        grid-area: img-2;
    }

    &__image-3 {
        grid-area: img-3;
    }

    &__image-4 {
        grid-area: img-4;
    }
}