@use "../../mixins" as *;
@use "../../presets" as *;

.brands {
    background-color: $color-main;
    padding-top: 108px;
    padding-bottom: 108px;

    &__title {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        color: $primary-color;
        max-width: 720px;
        width: 100%;
    }

    &__list {
        @include unlist;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: $gap-sm $gap;

        @include min-lg {
            justify-content: space-between;
        }

        @include max-lg {
            justify-content: center;
        }
    }
}