@use "../../mixins" as *;
@use "../../presets" as *;

.productivity {
    min-height: 895px;

    &-title {
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        color: $primary-color;
        text-align: center;
        
        @include min-md {
            margin-top: 150px;
            margin-bottom: 90px; 
        }

        @include max-md {
            margin-top: 75px;
            margin-bottom: 45px;
        }
    }

    &-container {
        display: grid;
        column-gap: $gap + $gap-sm;
        row-gap: $gap + $gap;
        margin-bottom: $gap;
        
        @include min-md {
            grid-auto-flow: column;
            grid-auto-columns: minmax(0 1fr);
        }

        @include max-md {
            grid-auto-flow: initial;
            grid-template-columns: 1fr;
        }
    }
}

.productivity-infomation {
    color: $primary-color;
    @include link-underline;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 25px;

    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
    }

    &__description {
        font-size: 20px;
        line-height: 30px;
    }

    &__details {
        font-size: 20px;
        line-height: 30px;

        &-text {
            text-decoration: underline;
            &::marker {
                content: none;
            }
        }
    }

    &__picture {
        order: -1;
        height: 201px;

        @include max-md {
            align-self: center;
        }
    }

    &__image {
        max-width: 179px;
        max-height: 201px;
    }
}
