@use "../mixins" as *;
@use "../presets" as *;

.container {
    max-width: $ul;
    padding-left: $gap;
    padding-right: $gap;
    margin-inline: auto;
}

.btn {
    padding: 0.2em;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn--light {
    background-color: $color-light;
    border: 1px solid rgba($primary-color, 0.5);
    color: $primary-color;
    font-size: 16px;
}

.btn--light:hover {
    box-shadow: 0 0 10px orangered;
  }

.btn--acent {
    background-color: $secondary-color;
    border: none;
    color: $color-light;
    font-size: 16px;
}

.btn--acent:hover {
    box-shadow: 0 0 10px orangered;
}

.btn--act {
    font-size: 17px;
    background: $primary-color;
    color: $color-light;
    border: none;
}

.btn--act:hover {
    color: brown;
    box-shadow: 0 0 15px rgba($primary-color, 0.5);
}

.btn--sm {
    min-width: 120px;
    max-width: 250px;
    height: 45px;
}

.btn--md {
    min-width: 160px;
    max-width: 260px;
    height: 60px;
}

.btn--xl {
    max-width: 193px;
    min-height: 60px;
    width: 100%;
}