@use "../mixins" as *;
@use "../presets" as *;

.container {
    max-width: $ul;
    padding-left: 20px;
    padding-right: 20px;
    margin-inline: auto;
}

.btn {
    padding: 0.2em;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.btn--light {
    background-color: $color-light;
    border: 1px solid rgba($primary-color, 0.5);
    color: $primary-color;
}
.btn--acent {
    background-color: $secondary-color;
    border: none;
    color: $color-light;
}
.btn--sm {
    min-width: 120px;
    max-width: 250px;
    height: 45px;
}
.btn--md {
    min-width: 160px;
    max-width: 260px;
    height: 60px;
}